.toggle {
    display: flex;
    justify-content: space-between;
    border-radius: 1rem;
    position: relative;
    padding: 2px;
    cursor: pointer;
    text-align: center;
    z-index: 2;
    max-width: fit-content;
    min-height: 30px;
}

.toggle>* {
    width: 1.5rem;
    height: 1.5rem;
    color: yellow;
    background-size: contain;
    border-radius: 1rem;
}

.t-button {
    border-radius: 100%;
    background: rgb(248, 81, 81);
    position: absolute;
}